*{
    margin: 0px;
    padding: 0px;
}
.topbar{
    height: 60px;
    width: 100%;
    float: left;
    background-color: #24292f;
}
.logo{
    height: 100%;
    width: 10%;
    float: left;
}
.logo i{
    height: 50px;
    width: 40px;
    font-size: 35px;
    color: white;
    float: right;
    margin-top: 15px;
}
.options{
    height: 100%;
    width: 60%;
    float: left;
}
.options ul{
    height: 100%;
    width: 100%;
    float: left;
}
.options li{
    list-style-type: none;
    display: inline-block;
}
.options select{
    height: 60px;
    width: 80px;
    float: left;
    margin-left: 20px;
    background-color: #24292f;
    border: none;
    font-size: 15px;
    color: white;
    cursor: pointer;
}
.options li{
    font-size: 15px;
    color: white;
    float: left;
}
.signup{
    height: 100%;
    width: 30%;
    float: left;
    background-color: #24292f;
}
.signup input{
    height: 60%;
    width: 250px;
    float: left;  
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #585c60;
    background-color: #24292f;
}
.signup button{
    height: 60%;
    width: 80px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #24292f;
    border: none;
    color:white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.login_back{
    height: 800px;
    width: 40%;
    margin-left: 30%;
}
.login_back pre{
    font-size: 15px;
    float: left;
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-left: 42%;
}
.info_name{
    height: 50px;
    width: 100%;
    float: left;
}
.info_name p{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.user_info{
    height: 100%;
    width: 100%;
    float: left;
    margin-top: 50px;
}
.user_info label{
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin-top: 10px;
}
.user_info input{
    height: 35px;
    width: 100%;
    float: left;
    border-radius: 5px;
    background-color: #f6f8fa;
    border: none;
    border: 1px solid#68737e;
    margin-top: 10px;
}
.note_u_text{
    height: 40px;
    width: 100%;
    float: left;
    margin-top: 10px;
}
.note_u_text p{
    font-size: 13px;
    font-weight: bold;
    float: left;
}
.photo_verify{
    height: 400px;
    width: 100%;
    float: left;
    margin-top: 20px;
    border: 1px solid #585c60;
    border-radius: 10px;
}
.images_div{
    height: 250px;
    width: 400px;
    float: left;
    margin-top: 20px;
    margin-left: 17%;
}
.imges{
    height: 50%;
    width: 33.33%;
    float: left;
}
.imges img{
    height: 100%;
    width: 100%;
    float: left;
    border: 2px dashed white;
    box-sizing: border-box;
    border-collapse: collapse;
}